@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Press+Start+2P&display=swap');
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-image:url(https://wallpaperaccess.com/full/6127015.jpg)
}
#title {
    text-align: center;
    font-family: 'Press Start 2P', cursive

}
.borda {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgb(0 0 0 / 25%);
    background: linear-gradient(68.15deg, #5b94ff 16.62%, #00cf56 85.61%);
}
#infoCor {
    display: flex;
   text-align: center;
   justify-content: center;
}
#rgb-color{
    margin-left:  5px;
}
#section-ball {
    margin: auto;

}
.ball {
    
    height: 40px;
    width: 40px;
    border: 1px solid black;
    float: left;
    border-radius: 100%;
    margin: 5px;
}
#texto-interativo {
    text-align: center;  
}
#botão{
   margin: auto;
   margin-top: 20px;
}